$primary: red;
body{
  margin: 0;
  display: flex;
  // background-color: $primary;
}

nav{
    width: 345px;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

main{

}

ul{
  margin: 0;
}

li{
  list-style: none;
}
