body {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

nav section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 75px;
  background-color: #EFF1F2;
}

nav section input {
  height: 25px;
  width: 250px;
}

main.open {
  position: relative;
}

nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  border-bottom: solid 1px #EFF1F2;
}

nav h1 {
  margin-left: 30px;
}

nav {
  width: 345px;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  top: 0;
  left: -5000px;
  transition: all 300ms ease-out;
}

nav.open {
  left: 0px;
}
