body{
  margin: 0% 10vw;
  background-image: url(../img/TURTLE.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header{
  text-align: center;
  margin: 0;
}

header img{
  width: 100%;
    margin: 0;
}
/*ul{
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to bottom,  hsla(104, 77%, 44%,1) 50%,  hsla(104, 77%, 44%,.9)50%);
}*/

.left_home li{
  list-style-type: none;
  padding: 10px;
}

a{
  color: red;
  text-decoration: none;
}

img{
  width: 15vh;
}

.left_home img{
  height: 15vh;
  border-radius: 100%;

}

.home div{

}

.home{
  display: flex;
  flex-direction: column;
  background-color:  hsla(104, 77%, 44%,.6);
}

.left_home{
  display: flex;
  justify-content: space-around;;
}

.left_home img:hover{
  transform: rotateZ(360deg);
  transition: 600ms ease-in-out;
}

.flex{
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex a{
  text-align: center;
  position: relative;
  transform: translate3d(0, -300%, 0);
}

#white{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#light{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:60px;
  height: 15vh;
  border: 2px solid black;
  background-color: gray;
}

#red{
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: red;
}

#yellow{
  border: 2px solid black;
  height:30px;
  width: 30px;
  border-radius: 100%;
  background-color: yellow;
}

#green{
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: green;
}

#contact{
  display: block;
  float: left;
}

.none{
  display: flex;
  flex-direction: column;
}

#work{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px){

  .left_home{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .left_home img{
    width: 100px;
    height: 100px;
  }

}

@media screen and (max-width:350px){
  body{
    margin: 0;
  }
}

.container{
	width: 300px;
	height:300px;
	margin: 0 auto;
	position:relative;
	overflow:hidden;
}

.death{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(img/death.png) no-repeat center center;
}

.death img{
  width: 100px;
}

.falcon{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(img/falcon.png) no-repeat 50px center;

	-webkit-animation:orbit 2s linear infinite;
	animation:orbit 2s linear infinite;

	transition:background-position 0.8s;
}

.container:hover .falcon{
	background-position:1000px center;
}

@-webkit-keyframes orbit {
	from {
		-webkit-transform:rotate(0deg);}
	to {
		-webkit-transform:rotate(360deg);
	}
}

@keyframes orbit {
	from {
		transform:rotate(0deg);

		-webkit-transform:rotate(0deg);}
	to {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
}

#box{
  height: 300px;
  width: 100%;
  position: relative;
}

#car{
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
}
body{
  margin: 0% 10vw;
  background-image: url(img/TURTLE.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header{
  text-align: center;
  margin: 0;
}

header img{
  width: 100%;
    margin: 0;
}
/*ul{
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to bottom,  hsla(104, 77%, 44%,1) 50%,  hsla(104, 77%, 44%,.9)50%);
}*/

.left_home li{
  list-style-type: none;
  padding: 10px;
}

a{
  color: red;
  text-decoration: none;
}

img{
  width: 15vh;
}

li{
  list-style-type: none;
}

.left_home img{
  height: 15vh;
  border-radius: 100%;

}

.home div{

}

.home{
  display: flex;
  flex-direction: column;
  background-color:  hsla(104, 77%, 44%,.6);
}

.left_home{
  display: flex;
  justify-content: space-around;;
}

.left_home img:hover{
  transform: rotateZ(360deg);
  transition: 600ms ease-in-out;
}

.flex{
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex a{
  text-align: center;
  position: relative;
  transform: translate3d(0, -300%, 0);
}

#white{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#light{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:60px;
  height: 15vh;
  border: 2px solid black;
  background-color: gray;
}

#red{
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: red;
}

#yellow{
  border: 2px solid black;
  height:30px;
  width: 30px;
  border-radius: 100%;
  background-color: yellow;
}

#green{
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: green;
}

#contact{
  display: block;
  float: left;
}

.none{
  display: flex;
  flex-direction: column;
}

#work{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px){

  .left_home{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .left_home img{
    width: 100px;
    height: 100px;
  }

}

@media screen and (max-width:350px){
  body{
    margin: 0;
  }
}

.container{
	width: 300px;
	height:300px;
	margin: 0 auto;
	position:relative;
	overflow:hidden;
}

.death{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(img/death.png) no-repeat center center;
}

.death img{
  width: 100px;
}

.falcon{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(img/falcon.png) no-repeat 50px center;

	-webkit-animation:orbit 2s linear infinite;
	animation:orbit 2s linear infinite;

	transition:background-position 0.8s;
}

.container:hover .falcon{
	background-position:1000px center;
}

@-webkit-keyframes orbit {
	from {
		-webkit-transform:rotate(0deg);}
	to {
		-webkit-transform:rotate(360deg);
	}
}

@keyframes orbit {
	from {
		transform:rotate(0deg);

		-webkit-transform:rotate(0deg);}
	to {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
}

#box{
  height: 300px;
  width: 100%;
  position: relative;
}

#car{
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
}
