body{
  margin: 0;
}

#meter{
  background-color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  box-shadow: 4px 4px 8px hsla(0, 0%, 0%, .50);
  z-index: 9999;
}

#meter ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

section.visible img{
  left: 0%;
}

section:nth-child(1).colorIn{
  background-color: red;
  transition: background-color 2000ms ease-out;
}

section:nth-child(2).colorIn{
  background-color: blue;
  transition: background-color 2000ms ease-out;
}

section:nth-child(3).colorIn{
  background-color: green;
  transition: background-color 2000ms ease-out;
}

h2{
  margin-top: 0;
}

header{
  height: 400px;
  background-image: url(http://unsplash.it/400/400);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

main{
  padding: 20px;
}

section img{
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  left: -100%;
  transition: left 1000ms ease-in;
}

section:nth-of-type(2) img{
  float: right;
}
