@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: hsl(0, 0%, 32%);
}
h1, h2, h3, h4, h5, h6, p, ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav, nav > ul, header, section.first, section.second, section.second div{
  display: flex;
}
a{
  text-decoration: none;
  color: inherit;
}
nav{
  color: white;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: 300;
  padding: 15px 10px;
  box-sizing: border-box;
}
nav h1{
  font-size: 20px;
  font-weight: 300;
}
nav h1:hover, nav > ul > li > a:hover{
  color: hsl(184, 65%, 56%);
}
nav > ul > li{
  padding: 0 10px;
}
nav > ul > li:nth-of-type(2){
  position: relative;
  padding-bottom: 15px;
}
nav > ul > li:nth-of-type(2):hover > ul{
  display: block;
}
nav ul ul::before{
  display: inline;
  position: absolute;
  clear: both;
  content: "";
  top: -6px;
  right: 30px;
  border-top: 25px solid transparent;
  border-bottom: 20px solid white;
  border-left: 25px solid transparent;
  transform: rotateZ(225deg);
}
nav ul ul{
  position: absolute;
  color: hsl(150, 1%, 54%);
  width: 150%;
  top: 27px;
  right: 0;
  padding: 10px 0;
  background-color: white;
  border-radius: 10px;
  display: none;
  transition-delay: 200s;
  transition: display 400ms ease-in-out;
}
nav ul ul:hover{
  display: block;
}
nav ul ul > li{
  padding: 5px 10px;
  border-bottom: 1px solid hsl(0, 0%, 84%);
}
nav ul ul > li:last-of-type{
  border-bottom: none;
}
nav ul ul > li:hover{
  background-color: hsl(184, 65%, 56%);
}
nav ul ul ul::before{
  display: none;
}
nav ul ul ul{
  top: 92px;
  right: 130px;
  width: 100%;
  display: none;
}
nav ul li:nth-of-type(2) ul li:last-of-type:hover ul{
  display: block;
}
header{
  color: white;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h2{
  font-size: 3vw;
  padding-bottom: 15px;
}
header p{
  color: hsl(210, 4%, 82%);
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 15px;
}
header a{
  border: 1px hsl(0, 0%, 100%) solid;
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 15px;
}
section.first{
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 94%);
  text-align: center;
  flex-direction: column;
}
section.first h3{
  font-size: 3vw;
  padding: 80px 0 15px;
}
section.first p{
  width: 50%;
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 2;
  margin: 15px auto;
}
section.first img{
  align-self: baseline;
  width: 65%;
  margin: 50px auto 0;
  padding: 25px 25px 0;
  background-color: white;
  border-radius: 10px 10px 0 0;
}
section.second{
  padding: 50px 0;
  width: 75%;
  margin: 0 auto;
  flex-wrap: wrap;
}
section.second div.content{
  width: 30%;
  margin: 15px auto;
}
section.second .content div{
  flex-direction: column;
  margin-left: 15px;
}
section.second i.fa{
  font-size: 3vw;
  color: hsl(184, 65%, 56%);
  border: 1px hsla(210, 4%, 82%, 0.8) solid;
  padding: 15px;
  align-self: flex-start;
  border-radius: 15px;
}
section.second h3{
  font-size: 1.5vw;
  margin-bottom: 5px;
}
section.second p{
  line-height: 1.8;
  color: hsl(210, 4%, 52%);
  font-weight: 300;
}
@media screen and (max-width: 800px){
  section.first p{
    font-size: 2.5vw;
    width: 85%;
  }
  section.first img{
    width: 85%;
    padding: 15px 15px 0;
  }
  section.second{
    width: 95%;
  }
  section.second div.content{
    width: 50%;
    flex-direction: column;
    text-align: center;
  }
  section.second i.fa{
    font-size: 5vw;
    align-self: center;
    margin-bottom: 15px;
  }
  section.second h3{
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px){
  nav{
    flex-direction: column;
  }
  nav ul ul ul{
    top: 91px;
    right: -130px;
  }
  header{
    height: 60vh;
  }
  header h2{
    font-size: 10vw;
  }
  header p{
    font-size: 5vw;
  }
  section.first h3{
    font-size: 8vw;
    margin: 0;
  }
  section.first p{
    font-size: 3.5vw;
    width: 95%;
  }
  section.second i.fa{
    font-size: 10vw;
  }
  section.second div.content{
    width: 100%;
  }
  section.second h3{
    font-size: 5vw;
  }
}

#text h1{
  color: #545454;
  text-align: center;
}

#text p{
  color: #949494;
}

#boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 5%;
}

#boxes aside span{
  font-size: 30px;
}

#boxes aside{
  width: 350px;
  height: 450px;
  border-radius: 2%;
  background-color: white;
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#boxes aside img{
  height: 150px;
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

input{
  border: none;
  padding: 5% 10%;
  border-radius: 10%;
  background-color: white;
  border: 1px solid #ECECEC;
}

section a{
  text-decoration: none;
}

#blue{
  background-color: #47CDD9;
  height: 200px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 30px;
  color: white;

}

#blue input{
  margin-left: 10px;
  padding: 15px 25px;
  background-color: #47CDD9;
  border: 1px solid white;
  color: white;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

footer div{
  margin: 5%;
}

footer div i{
  padding: 10px;
  margin: 0px 10px;
  border: 1px solid #ECECEC;
  border-radius: 10%;
  color: #949494;

}

footer div i:hover{
  background-color: #ECECEC;
}


footer div a{
  color: #949494;
}

footer div a:hover{
  text-decoration: none;
  color: #47CDD9;
}

footer span{
  color: #949494;
}

@media screen and (max-width: 831px){
  #boxes{
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 716px){
  #boxes{
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width: 350px){
  #boxes{
    padding: 0;
    margin: 0;
  }
  #blue{
    display: flex;
    flex-direction: column;
  }
  #rotate i{
    display: none;
  }
}


#rotate{
  display: flex;
  align-items: center;
}

#rotate i:nth-of-type(1){
  background-color: white;
  padding: 10px 20px;
  border-radius: 100%;
} 

#rotate i:nth-of-type(2){
  background-color: white;
  padding: 10px 20px;
  border-radius: 100%;
}
/*
#boxes aside:nth-of-type(1) div{
  background-image: url(../img/book.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#boxes aside:nth-of-type(2) div{
  background-image: url(../img/house.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#boxes aside:nth-of-type(3) div{
  background-image: url(../img/type.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#boxes aside:nth-of-type(4) div{
  background-image: url(../img/mountain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#boxes aside:nth-of-type(5) div{
  background-image: url(../img/sea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#boxes aside:nth-of-type(6) div{
  background-image: url(../img/road.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/
